In [1]:
%load_ext sql
%sql sqlite:///PS2.db

u'Connected: @PS2.db'

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [24 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [2]:
%sql select * from hospital limit 2;

 * sqlite:///PS2.db
Done.

[(10018, u'CALLAHAN EYE FOUNDATION HOSPITAL', u'1720 UNIVERSITY BLVD', u'BIRMINGHAM', u'AL', 35233, u'JEFFERSON', 2053258100, u'Acute Care Hospitals', u'Voluntary non-profit - Private', u'Yes', u'Surgical Infection Prevention', u'SCIP-CARD-2'),
 (10018, u'CALLAHAN EYE FOUNDATION HOSPITAL', u'1720 UNIVERSITY BLVD', u'BIRMINGHAM', u'AL', 35233, u'JEFFERSON', 2053258100, u'Acute Care Hospitals', u'Voluntary non-profit - Private', u'Yes', u'Surgical Infection Prevention', u'SCIP-INF-1')]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [14 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [20]:
%%sql
SELECT h.provider, COUNT(DISTINCT h.hospital) c1, COUNT(DISTINCT h.address) c2, COUNT(DISTINCT h.city) c3, COUNT(DISTINCT h.state) c4, 
COUNT(DISTINCT h.zip) c5, COUNT(DISTINCT h.county) c6, COUNT(DISTINCT h.phone_number) c7, COUNT(DISTINCT h.hospital_type) c8, 
COUNT(DISTINCT h.hospital_owner) c9, COUNT(DISTINCT h.emergency_service) c10, COUNT(DISTINCT h.condition) c11, COUNT(DISTINCT h.measure_code) c12
FROM hospital h
GROUP BY h.provider
HAVING c1 > 1
OR c2 > 1
OR c3 > 1
OR c4 > 1
OR c5 > 1
OR c6 > 1
OR c7 > 1
OR c8 > 1
OR c9 > 1
OR c10 > 1
OR c11 > 1
OR c12 > 1

 * sqlite:///PS2.db
Done.

[(10001, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10005, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10006, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10007, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10008, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10009, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10010, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10011, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10012, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10015, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10016, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10018, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10019, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10021, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10022, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10023, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10024, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10025, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10027, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10029, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10032, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10033, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10034, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10035, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10036, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10038, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 28),
 (10039, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 28),
 (10040, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10043, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10044, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10045, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10046, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 28),
 (10047, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10049, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10050, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 20),
 (10055, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 17),
 (10056, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5),
 (10086, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 25),
 (10087, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 13),
 (10108, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 20),
 (10158, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2),
 (10164, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 18),
 (20017, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 18),
 (20018, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2)]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [17]:
%%sql
SELECT h.zip, COUNT(DISTINCT h.city) CityCount, COUNT(DISTINCT h.state) StateCount
FROM hospital h
GROUP BY h.zip
HAVING CityCount > 1 
OR StateCount > 1

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [40 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [8 points]

Is it correct that ${A,B}$ is a superkey?

In [21]:
answer = True
explanation = "the closure of {A,B} is {A,B,C,D,E,F}"

apple

### Part (b) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

In [ ]:
answer = False
explanation = "ABC and EFA can be joined into ABCEF since the intersect A is a superkey in ABC. However, the intersect of ABCEF and CDE is CE, neither of which imply anything. Thus, CE is not a superkey in either relation and the decomposition is not a lossless join"

### Part (c) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

In [ ]:
answer = True
explanation = "ABC and EFA enforces A -> D,E, CDE enforces D -> E,F. Since all the FD's of S are found in the decomposition, it is dependency preserving"

### Part (d) [8 points]

Is the functional dependency $\{A\} \rightarrow \{C,F\}$ logically implied by FDs present in the relation?

In [ ]:
answer = True
explanation = "By Armstrong's Axiom of Transitivity, since A -> D and D -> C and D -> F, A -> C and F"

### Part (e) [8 points]

Is it correct that relation $S$ is in BCNF?

In [23]:
answer = False
explanation = "A on the left side of two FD's, and it is in fact a superkey in S. However, D is also on the left side of two FD's, and it is not a superkey. Thus, S is not in BCNF"

Problem 3: Relational Algebra [36 points]
---------

Consider the following relational schema:
*  `JournalArticle(articleID, title, journal, volume, year, month)`
*  `ConferenceArticle(articleID, title, conference, year, location)`
*  `Person(name, affiliation)`
*  `Author(name, articleID)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [9 points]

Output the names of everyone who is affiliated with `UW-Madison` and who has submitted during 2018 at least one journal article, but no conference articles:

$$(\pi_{name}(\pi_{articleID}(JournalArticle)\Join Author) - \pi_{name}(\pi_{articleID}(ConferenceArticle)\Join Author)) \cap (\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (b) [9 points]

Output the names of the people who coauthored an article (in a journal or conference) with `John Doe`. Be careful: a person cannot be coauthor with herself!

    $$\pi_{name}(\sigma_{name \neq "John Doe"}(Author) \join \pi_{articleID}(\sigma_{name="John Doe"}(Author) \join (\pi_{articleID}(JournalArticle) \cup \pi_{articleID}(ConferenceArticle)))$$

### Part (c) [9 points]

Count how many journal *or* conference articles were published in 2018 by `John Doe`.

### Part (d) [9 points]

Output the names of everyone who published at least as many conference as journal papers during every year in the span from 2000 to 2018 (including 2000 and 2018).